
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/04/02

#Main Processor Clock
NET "i_clk" TNM_NET = "i_clk";
TIMESPEC TS_i_clk = PERIOD "i_clk" 10 ns HIGH 50 % INPUT_JITTER 100 ps;

#2x Faster Clock
NET "i_clk_multipump" TNM_NET = "i_clk_multipump";
TIMESPEC TS_i_clk_multipump = PERIOD "i_clk_multipump" TS_i_clk / 2 HIGH 50 % INPUT_JITTER 100 ps;

# PlanAhead Generated IO constraints 
NET "i_data_wb_dat_cache[127]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[126]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[125]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[124]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[123]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[122]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[121]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[120]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[119]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[118]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[117]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[116]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[115]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[114]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[113]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[112]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[111]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[110]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[109]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[108]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[107]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[106]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[105]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[104]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[103]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[102]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[101]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[100]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[99]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[98]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[97]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[96]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[95]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[94]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[93]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[92]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[91]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[90]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[89]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[88]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[87]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[86]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[85]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[84]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[83]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[82]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[81]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[80]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[79]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[78]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[77]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[76]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[75]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[74]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[73]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[72]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[71]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[70]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[69]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[68]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[67]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[66]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[65]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[64]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[63]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[62]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[61]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[60]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[59]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[58]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[57]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[56]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[55]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[54]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[53]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[52]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[51]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[50]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[49]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[48]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[47]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[46]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[45]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[44]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[43]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[42]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[41]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[40]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[39]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[38]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[37]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[36]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[35]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[34]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[33]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[32]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[31]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[30]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[29]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[28]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[27]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[26]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[25]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[24]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[23]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[22]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[21]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[20]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[19]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[18]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[17]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[16]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[15]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[14]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[13]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[12]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[11]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[10]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[9]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[8]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[7]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[6]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[5]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[4]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[3]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[2]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[1]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_cache[0]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[31]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[30]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[29]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[28]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[27]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[26]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[25]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[24]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[23]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[22]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[21]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[20]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[19]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[18]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[17]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[16]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[15]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[14]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[13]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[12]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[11]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[10]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[9]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[8]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[7]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[6]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[5]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[4]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[3]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[2]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[1]" IOSTANDARD = LVCMOS25;
NET "i_data_wb_dat_uncache[0]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[127]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[126]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[125]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[124]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[123]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[122]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[121]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[120]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[119]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[118]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[117]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[116]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[115]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[114]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[113]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[112]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[111]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[110]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[109]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[108]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[107]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[106]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[105]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[104]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[103]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[102]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[101]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[100]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[99]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[98]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[97]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[96]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[95]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[94]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[93]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[92]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[91]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[90]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[89]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[88]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[87]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[86]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[85]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[84]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[83]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[82]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[81]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[80]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[79]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[78]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[77]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[76]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[75]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[74]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[73]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[72]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[71]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[70]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[69]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[68]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[67]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[66]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[65]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[64]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[63]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[62]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[61]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[60]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[59]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[58]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[57]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[56]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[55]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[54]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[53]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[52]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[51]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[50]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[49]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[48]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[47]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[46]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[45]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[44]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[43]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[42]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[41]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[40]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[39]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[38]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[37]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[36]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[35]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[34]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[33]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[32]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[31]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[30]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[29]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[28]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[27]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[26]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[25]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[24]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[23]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[22]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[21]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[20]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[19]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[18]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[17]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[16]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[15]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[14]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[13]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[12]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[11]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[10]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[9]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[8]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[7]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[6]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[5]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[4]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[3]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[2]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[1]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_cache[0]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[31]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[30]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[29]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[28]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[27]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[26]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[25]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[24]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[23]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[22]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[21]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[20]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[19]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[18]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[17]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[16]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[15]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[14]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[13]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[12]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[11]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[10]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[9]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[8]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[7]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[6]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[5]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[4]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[3]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[2]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[1]" IOSTANDARD = LVCMOS25;
NET "i_instr_wb_dat_nocache[0]" IOSTANDARD = LVCMOS25;

#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/04/02
INST "i_data_src" TNM = I_CLK_GROUP;
INST "i_data_wb_ack" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<0>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<1>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<2>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<3>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<4>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<5>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<6>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<7>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<8>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<9>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<10>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<11>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<12>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<13>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<14>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<15>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<16>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<17>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<18>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<19>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<20>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<21>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<22>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<23>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<24>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<25>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<26>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<27>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<28>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<29>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<30>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<31>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<32>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<33>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<34>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<35>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<36>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<37>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<38>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<39>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<40>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<41>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<42>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<43>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<44>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<45>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<46>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<47>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<48>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<49>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<50>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<51>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<52>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<53>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<54>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<55>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<56>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<57>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<58>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<59>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<60>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<61>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<62>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<63>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<64>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<65>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<66>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<67>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<68>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<69>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<70>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<71>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<72>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<73>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<74>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<75>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<76>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<77>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<78>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<79>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<80>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<81>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<82>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<83>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<84>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<85>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<86>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<87>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<88>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<89>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<90>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<91>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<92>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<93>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<94>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<95>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<96>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<97>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<98>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<99>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<100>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<101>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<102>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<103>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<104>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<105>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<106>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<107>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<108>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<109>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<110>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<111>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<112>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<113>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<114>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<115>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<116>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<117>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<118>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<119>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<120>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<121>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<122>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<123>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<124>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<125>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<126>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_cache<127>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<0>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<1>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<2>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<3>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<4>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<5>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<6>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<7>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<8>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<9>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<10>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<11>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<12>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<13>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<14>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<15>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<16>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<17>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<18>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<19>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<20>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<21>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<22>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<23>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<24>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<25>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<26>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<27>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<28>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<29>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<30>" TNM = I_CLK_GROUP;
INST "i_data_wb_dat_uncache<31>" TNM = I_CLK_GROUP;
INST "i_data_wb_err"             TNM = I_CLK_GROUP;
INST "i_fiq"                     TNM = I_CLK_GROUP;
INST "i_instr_src"               TNM = I_CLK_GROUP;
INST "i_instr_wb_ack"            TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<0>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<1>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<2>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<3>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<4>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<5>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<6>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<7>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<8>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<9>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<10>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<11>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<12>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<13>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<14>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<15>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<16>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<17>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<18>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<19>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<20>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<21>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<22>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<23>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<24>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<25>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<26>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<27>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<28>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<29>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<30>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<31>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<32>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<33>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<34>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<35>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<36>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<37>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<38>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<39>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<40>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<41>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<42>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<43>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<44>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<45>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<46>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<47>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<48>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<49>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<50>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<51>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<52>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<53>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<54>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<55>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<56>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<57>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<58>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<59>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<60>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<61>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<62>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<63>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<64>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<65>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<66>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<67>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<68>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<69>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<70>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<71>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<72>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<73>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<74>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<75>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<76>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<77>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<78>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<79>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<80>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<81>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<82>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<83>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<84>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<85>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<86>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<87>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<88>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<89>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<90>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<91>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<92>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<93>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<94>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<95>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<96>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<97>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<98>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<99>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<100>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<101>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<102>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<103>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<104>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<105>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<106>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<107>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<108>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<109>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<110>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<111>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<112>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<113>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<114>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<115>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<116>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<117>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<118>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<119>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<120>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<121>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<122>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<123>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<124>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<125>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<126>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_cache<127>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<0>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<1>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<2>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<3>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<4>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<5>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<6>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<7>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<8>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<9>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<10>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<11>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<12>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<13>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<14>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<15>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<16>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<17>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<18>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<19>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<20>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<21>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<22>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<23>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<24>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<25>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<26>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<27>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<28>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<29>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<30>" TNM = I_CLK_GROUP;
INST "i_instr_wb_dat_nocache<31>" TNM = I_CLK_GROUP;
INST "i_instr_wb_err" TNM = I_CLK_GROUP;
INST "i_irq" TNM = I_CLK_GROUP;
TIMEGRP "I_CLK_GROUP" OFFSET = IN 5 ns VALID 10 ns BEFORE "i_clk" RISING;

###################### Outputs.
INST "o_data_cache_rd_en" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<0>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<1>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<2>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<3>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<4>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<5>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<6>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<7>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<8>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<9>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<10>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<11>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<12>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<13>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<14>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<15>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<16>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<17>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<18>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<19>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<20>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<21>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<22>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<23>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<24>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<25>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<26>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<27>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<28>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<29>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<30>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_adr<31>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_cyc" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<0>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<1>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<2>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<3>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<4>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<5>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<6>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<7>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<8>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<9>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<10>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<11>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<12>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<13>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<14>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<15>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<16>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<17>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<18>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<19>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<20>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<21>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<22>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<23>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<24>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<25>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<26>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<27>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<28>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<29>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<30>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_dat<31>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_sel<0>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_sel<1>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_sel<2>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_sel<3>" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_stb" TNM = OUTPUT_PORTS_CLK;
INST "o_data_wb_we" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_cache_rd_en" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<0>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<1>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<2>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<3>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<4>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<5>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<6>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<7>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<8>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<9>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<10>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<11>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<12>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<13>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<14>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<15>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<16>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<17>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<18>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<19>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<20>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<21>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<22>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<23>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<24>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<25>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<26>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<27>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<28>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<29>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<30>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_adr<31>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_cyc" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_sel<0>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_sel<1>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_sel<2>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_sel<3>" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_stb" TNM = OUTPUT_PORTS_CLK;
INST "o_instr_wb_we" TNM = OUTPUT_PORTS_CLK;
TIMEGRP "OUTPUT_PORTS_CLK" OFFSET = OUT 5 ns AFTER "i_clk";

# PVT
TEMPERATURE     = 65 C;
VOLTAGE         = 1.26 V;
